@charset "UTF-8";

@font-face {
  font-family: "Roboto Bold";
  src: url("../fonts/Roboto-Bold.eot");
  src: url("../fonts/Roboto-Bold.eot?#iefix");
  src: url("../fonts/Roboto-Bold.woff2");
  src: url("../fonts/Roboto-Bold.woff");
  src: url("../fonts/Roboto-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Medium";
  src: url("../fonts/Roboto-Medium.eot");
  src: url("../fonts/Roboto-Medium.eot?#iefix");
  src: url("../fonts/Roboto-Medium.woff2");
  src: url("../fonts/Roboto-Medium.woff");
  src: url("../fonts/Roboto-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.eot");
  src: url("../fonts/Roboto-Regular.eot?#iefix");
  src: url("../fonts/Roboto-Regular.woff2");
  src: url("../fonts/Roboto-Regular.woff");
  src: url("../fonts/Roboto-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Black";
  src: url("../fonts/Roboto-Black.eot");
  src: url("../fonts/Roboto-Black.eot?#iefix");
  src: url("../fonts/Roboto-Black.woff2");
  src: url("../fonts/Roboto-Black.woff");
  src: url("../fonts/Roboto-Black.ttf");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Light";
  src: url("../fonts/Roboto-Light.eot");
  src: url("../fonts/Roboto-Light.eot?#iefix");
  src: url("../fonts/Roboto-Light.woff2");
  src: url("../fonts/Roboto-Light.woff");
  src: url("../fonts/Roboto-Light.ttf");
  font-weight: 300;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
}

.container {
  max-width: 970px;
}

body {
  margin: 0;
}

input:focus,
button:focus {
  outline: none;
}

/* img
	max-width: 100% */

.header {
  margin-top: 15px;
  margin-bottom: 13px;
}

.header-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-contacts__phone {
  font-family: "Roboto Medium", sans-serif;
  font-size: 22px;
  margin-right: 15px;
}

.header-contacts__phone:first-child {
  padding-right: 13px;
  border-right: 1px solid #cfcfd0;
}

.phone-right {
  margin-right: 29px;
}

/*  а это мой способ реализации вертикальной черточки наверху */

/* .phone-right
	margin-right: 27px
	padding-left: 15px
	border-left: 1px solid #cfcfd0 */

.section-title {
  color: #373737;
  font-family: "Roboto Bold", sans-serif;
  font-size: 27px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
}

.section-title::after {
  content: '';
  display: block;
  margin-top: 12px;
  height: 6px;
  background: transparent url("../img/line.png") center no-repeat;
}

.button {
  font-size: 14px;
  font-weight: 500;
  background-color: #ff9d00;
  color: #ffffff;
  border: 1px #ff9d00 solid;
  padding: 12px 21px;
  border-radius: 5px;
  font-family: "Roboto Medium", sans-serif;
}

.button:hover {
  background-color: #ffa71a;
  cursor: pointer;
}

.button img {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

.button_big {
  margin-bottom: 5px;
  padding: 16px 22px;
  vertical-align: middle;
}

.button_long {
  padding: 12px 29px;
}

.button-o {
  color: rgba(55, 55, 55, 0.5);
  border: 1px rgba(55, 55, 55, 0.5) solid;
  background-color: transparent;
  margin-right: 8px;
  padding: 12px 27px;
}

.button-o:hover {
  color: #ffffff;
  background-color: #ffa71a;
  border: 1px #ff9d00 solid;
}

@-webkit-keyframes rotateLogo {
  from {
    opacity: 0;
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }

  1% {
    opacity: 1;
  }

  50% {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }

  to {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
}

@keyframes rotateLogo {
  from {
    opacity: 0;
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }

  1% {
    opacity: 1;
  }

  50% {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }

  to {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
}

.main {
  /*задаем позицию для использования затемнения*/
  /*заставляем элемент стать "жестким"- своеобразной "формой для выпекания"*/
  position: relative;
  padding-top: 43px;
  padding-bottom: 62px;
  background: #373737 url("../img/main/main-bg.jpg") center no-repeat;
  /* background-size: cover */
  color: #ffffff;
  z-index: 1;
  /* затемнение фонового изображения на главном экране*/
  /*оформление главной картинки*/
}

.main::before {
  content: '';
  display: block;
  /*позиция относительно самой картинки от левого верхнего угла на 100% ширину и высоту*/
  /*это как тесто, растекающееся внутри жесткой формы*/
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 0;
}

.main-img {
  margin-left: -106px;
  position: relative;
}

.main-img::before {
  content: '';
  position: absolute;
  width: 390px;
  height: 390px;
  left: 50%;
  margin-left: -143px;
  margin-top: 11px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  z-index: -1;
  /*заголовок */
}

.main-img::after {
  content: '';
  position: absolute;
  width: 60px;
  height: 50px;
  background: transparent url("../img/main/main-logo.png") center no-repeat;
  z-index: 2;
  left: 21%;
  top: 80%;
  margin-top: 31px;
  -webkit-animation-name: rotateLogo;
  animation-name: rotateLogo;
  -webkit-animation-delay: 1.4s;
  animation-delay: 1.4s;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-iteration-count: 2;
  animation-iteration-count: 2;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.main-text {
  margin-top: 20px;
  margin-bottom: 13px;
}

.main-text__title {
  line-height: 42px;
  margin-bottom: 9px;
  font-family: "Roboto", sans-serif;
  font-size: 41px;
}

.main-text__subtitle {
  letter-spacing: 0.3px;
  font-family: "Roboto Light", sans-serif;
  font-size: 28px;
  margin-bottom: 15px;
}

.main-text__form {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 21px 27px 28px 27px;
}

.form-title {
  margin-bottom: 19px;
  padding-right: 50px;
  font-family: "Roboto Light", sans-serif;
  font-size: 20px;
  line-height: 30px;
}

.form-title__important {
  display: block;
  text-transform: uppercase;
  font-family: "Roboto Bold", sans-serif;
}

.form__input {
  margin-bottom: 5px;
  margin-right: 6px;
  padding: 15px 80px 16px 19px;
  width: 64%;
  vertical-align: middle;
  border: none;
  border-radius: 4px;
}

.form-small {
  font-family: "Roboto Light", sans-serif;
  font-size: 14px;
  margin-left: 19px;
}

@-webkit-keyframes moveUp {
  from {
    opacity: 0;
    margin-bottom: -350px;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }

  50% {
    opacity: 1;
    margin-bottom: 0px;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }

  to {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@keyframes moveUp {
  from {
    opacity: 0;
    margin-bottom: -350px;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }

  50% {
    opacity: 1;
    margin-bottom: 0px;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }

  to {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

.animate-main {
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-animation-name: moveUp;
  animation-name: moveUp;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.overlay {
  position: fixed;
  display: none;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.4);
}

.popup {
  position: fixed;
  left: 50%;
  top: 102px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 750px;
  margin-bottom: 102px;
  background-color: #ffffff;
}

.popup-close {
  position: absolute;
  right: -20px;
  top: -35px;
  font-size: 35px;
  font-family: "Roboto Light", sans-serif;
  color: #ffffff;
  cursor: pointer;
}

.popup-title {
  display: block;
  width: 100%;
  min-height: 68px;
  margin: 0;
  font-family: "Roboto Medium", sans-serif;
  font-size: 21px;
  line-height: 68px;
  text-transform: uppercase;
  background-color: #ff9d00;
  color: #ffffff;
  text-align: center;
}

.popup-form {
  background: url("../img/modal/modal-bg.jpg") center no-repeat;
  background-size: cover;
  padding: 35px 90px 44px 84px;
  color: #ffffff;
}

.popup-form-header {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  line-height: 27px;
  text-align: center;
}

.popup-form-header span {
  font-size: 24px;
}

.popup-form__label {
  display: block;
  margin-top: 14px;
  margin-left: 14px;
  text-align: center;
  font-family: "Roboto Light", sans-serif;
  font-size: 20px;
  line-height: 30px;
}

.popup-form__input {
  margin-top: 15px;
  margin-bottom: 5px;
  margin-right: 14px;
  padding: 21px 121px 20px 19px;
  width: 365px;
  vertical-align: middle;
  border: none;
  border-radius: 4px;
}

.popup-form__btn {
  margin-top: 16px;
  margin-bottom: 5px;
  padding: 19px 29px 19px 28px;
  vertical-align: middle;
  letter-spacing: 0.5px;
}

.popup-form__note {
  font-family: "Roboto Light", sans-serif;
  font-size: 14px;
  text-align: center;
  margin-left: 19px;
}

.features {
  background-color: #f4f4f4;
  padding-top: 41px;
  padding-bottom: 25px;
}

.numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 32px;
}

.numbers-block {
  text-align: center;
  width: 294px;
}

.numbers-block__title {
  font-family: "Roboto Bold", sans-serif;
  color: #ff9d00;
  font-size: 36px;
  text-align: center;
}

.numbers-block__title sup {
  font-size: 20px;
}

.numbers-block__descr {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  margin-top: -2px;
}

.features-block__title {
  font-family: "Roboto Bold", sans-serif;
  font-size: 15px;
  margin-bottom: 2px;
}

.features-block__descr {
  font-family: "Roboto Light", sans-serif;
  font-size: 14px;
  /* word-spacing: 6px - разрядка между словами*/
}

.media {
  height: 132px;
  background-color: #ffffff;
  margin-bottom: 30px;
  margin-left: 0;
  margin-right: 0;
  padding-left: 12px;
  padding-right: 19px;
}

.media-body {
  max-width: 203px;
}

.products {
  /* background-color: lightgreen */
  padding-top: 52px;
  padding-bottom: 45px;
}

.products-block {
  display: inline-block;
  width: 50%;
  margin-right: -4px;
  margin-bottom: 25px;
  text-align: center;
  overflow: hidden;
}

.products-block__imgclip {
  margin: 0 0 -43px 0;
}

.products-block img {
  min-height: 281px;
}

.products-block__title {
  font-family: "Roboto Medium", sans-serif;
  font-size: 20px;
  margin-top: 12px;
}

.products-block__buttons {
  margin-top: 26px;
}

.clients {
  background-color: #ffffff;
  padding-top: 95px;
  padding-bottom: 61px;
}

.clients-img {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 130px;
  margin-top: 12px;
  margin-bottom: 21px;
  border: 1px rgba(0, 0, 0, 0.1) solid;
}

.clients-img-nohover {
  position: absolute;
}

.clients-img-nohover:hover {
  opacity: 0;
}