@font-face {
  font-family: "Roboto Bold";
  src: url("../fonts/Roboto-Bold.eot");
  src: url("../fonts/Roboto-Bold.eot?#iefix");
  src: url("../fonts/Roboto-Bold.woff2");
  src: url("../fonts/Roboto-Bold.woff");
  src: url("../fonts/Roboto-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Medium";
  src: url("../fonts/Roboto-Medium.eot");
  src: url("../fonts/Roboto-Medium.eot?#iefix");
  src: url("../fonts/Roboto-Medium.woff2");
  src: url("../fonts/Roboto-Medium.woff");
  src: url("../fonts/Roboto-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.eot");
  src: url("../fonts/Roboto-Regular.eot?#iefix");
  src: url("../fonts/Roboto-Regular.woff2");
  src: url("../fonts/Roboto-Regular.woff");
  src: url("../fonts/Roboto-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Black";
  src: url("../fonts/Roboto-Black.eot");
  src: url("../fonts/Roboto-Black.eot?#iefix");
  src: url("../fonts/Roboto-Black.woff2");
  src: url("../fonts/Roboto-Black.woff");
  src: url("../fonts/Roboto-Black.ttf");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Light";
  src: url("../fonts/Roboto-Light.eot");
  src: url("../fonts/Roboto-Light.eot?#iefix");
  src: url("../fonts/Roboto-Light.woff2");
  src: url("../fonts/Roboto-Light.woff");
  src: url("../fonts/Roboto-Light.ttf");
  font-weight: 300;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
}

.header {
  margin-top: 59px;
  margin-bottom: 15px;
}

.header-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-contacts__phone {
  font-family: "Roboto Medium", sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  margin-right: 15px;
}

.phone-right {
  margin-right: 27px;
  padding-left: 15px;
  border-left: 1px solid #cfcfd0;
}

.button {
  font-size: 14px;
  font-weight: 500;
  background-color: #ff9d00;
  color: #ffffff;
  border: none;
  padding: 13px 22px;
  border-radius: 5px;
  font-family: "Roboto Medium", sans-serif;
}

.button img {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

button:focus {
  outline: none;
}