* {  /* чтобы отступы и рамки не влияли на общий размер элемента*/
	box-sizing: border-box;
	
}

body 	{
	background-color: #f6f6f6;
}


.card {
	position: absolute;
	top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
	border: solid #d7d7d7 1px;
	max-width: 808px;
	max-height: 402px;
	padding-top: 51px;
	padding-bottom: 51px;
	
}

.main-img {
	display: inline-block;
	vertical-align: middle;
	width: 49%;
	padding-left: 38px;
	padding-right: 80px;
}

img {
	width: 100%;
}

.text {
	display: inline-block;
	vertical-align: middle;
	width: 50%;
	color: #2f2f2f;
	font-family: "Arial";
	margin-left: -30px;
	
}

.title {
	font-family: "Arial";
	font-size: 8px; /* костыли со шрифтом во всем документе=)...*/
	margin-bottom: 24px;
	font-weight: bold;

}

.description {
	font-size: 13px;
	margin-bottom: 35px;
	max-width: 345px;
}

.pre-price {
	font-size: 13px;
	margin-bottom: 10px;
}

.price {
	font-size: 24px;
	margin-bottom: 35px;

}

.button {
	display: inline-block;
	text-decoration: none;
	background-color: #ec744a;
	color: #ffffff;
	font-size: 15px;
	padding: 10px 28px; 
}						 						


/*@font-face {
font-family: "Arial MT"; 
src: url("../fonts/ArialMT.ttf") format("truetype"); 
font-style: normal; 
font-weight: normal; 
} 

@font-face {
font-family: "Arial-Bold MT"; 
src: url("../fonts/Arial-BoldMT.ttf") format("truetype"); 
font-style: normal; 
font-weight: normal; 
} */


