@import 'fonts'
@import 'variables'

*
	box-sizing: border-box

body
	@include roboto
	background-color: #ffffff

.container
	max-width: 970px

@import 'reset'
@import 'header'
@import 'interface'
@import 'main'
@import 'modal'
@import 'features'
@import 'products'
@import 'clients'

